{% extends 'base.html' %}

{% block head %}
  <script>
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    window.location = "../html/mobile.html"; // замените "http://example.com/mobile-page" на URL вашей мобильной страницы
  }
  </script>
{% endblock %}

{% block content %}
  <div class="recent">
    <h2 class="recent__title text-center">КАТЕГОРІЯ: {{ category }}</h2>
    <div class="all__projects">
    {% for project in projects %}
      <div class="recent__recent-project">
        <div class="recent-project__header" style="background-image: url(../{{ path }}/{{ getImageById(project.id) }})">
          <h3 class="recent-project__text"><a href="{{ url_for('project.ViewProject', project_id=project.id) }}">{{ project.caption }}</a></h3>
        </div>
        <div class="recent-project__content">
          <div class="recent-project__donates">
            <div class="recent-project__need">Потрібно коштів: {{ project.neededAmount }}₴ </div>
            <div class="recent-project__donated">Зібрано: {{ project.receivedAmount }}₴ (~{{ ((project.receivedAmount/project.neededAmount) * 100)|round }}%) </div>
          </div>
          <hr>
          <div class="recent-content__descriprion">
            <p class="recent-project__description"><span>Автор:</span> {{ getUserById(project.authorId).name }}</p>

            <p class="recent-project__description recent-project__goals"><span>Опис: </span> {{ loads(project.description)['description'] }} </p>
          </div>
        </div>
        <hr>
        <div class="recent-project__recent-footer">
          <div class="projects__footer--socials">
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['telegram'] is not none %}
            <div class="project-page--social" >
                <a href="https://t.me/{{loads(getUserById(project.authorId).social_media)['telegram']}}"><img src="../static/images/logos_telegram.svg" alt="telegram"></a>
            </div>
            {% endif %}
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['instagram'] is not none %}
            <div class="project-page--social">
                <a href="https://instagram.com/{{loads(getUserById(project.authorId).social_media)['instagram']}}"><img src="../static/images/skill-icons_instagram.svg" alt="instagram"></a>
            </div>
            {% endif %}
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['twitter'] != '' %}
            <div class="project-page--social">
                <a href="https://twitter.com/{{loads(getUserById(project.authorId).social_media)['twitter']}}"><img src="../static/images/skill-icons_twitter.svg" alt="twitter"></a>
            </div>
            {% endif %}
          </div>
          <div class="recent-footer__text">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
              </svg> {{ project.address }}, Україна  </span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
<!-- КОНЕЦ БЛОКА "НЕДАВНИЕ ПРОЕКТЫ" ------------------------------------------- -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <script src="static/js/main.js"></script>
{% endblock %}