{% extends 'base.html' %}

{% block head %}
  <script>
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    window.location = "../html/mobile.html"; // замените "http://example.com/mobile-page" на URL вашей мобильной страницы
  }
  </script>
{% endblock %}

{% block content %}
  <!-- НАЧАЛО БЛОКА С УКРАИНОЙ ------------------------------------------- -->

  <div class="block">
    <div class="block__title-container">
      <h1 class="block__title">УСІ</h1>
    </div>
    <div class="block__subtitle-container">
      <p class="block__subtitle">МИ ПОЧИНАЄМО З ЧОГОСЬ<br>ПОТРЕБУЄМО ДОПОМОГИ<br>ДОПОМОГАЄМО</p>
    </div>
  </div>


  <!-- КОНЕЦ БЛОКА С УКРАИНОЙ ------------------------------------------- -->





  <!-- НАЧАЛО ПЕРВОГО БЛОКА С ТРЕМЯ ПРОЕКТАМИ ------------------------------------------- -->


  <section class="section">

    <div class="projects_large">
      <img class="projects__image" src="../{{ path }}/{{ getImageById(project1.id) }}" alt="Картинка 1">
      <div class="projects__content_large">
        <div class="projects__main-info">
          <h2 class="projects__title"><a href="{{ url_for('project.ViewProject', project_id=project1.id) }}">{{ project1.caption }}</a></h2>
          <div class="projects__progress">
            <div class="progress__texts">
              <p class="progress__need">Потрібно коштів: {{ project1.neededAmount }}₴ </p>
              <p class="progress__donated">Зібрано: {{ project1.receivedAmount }}₴ (~{{ (project1.receivedAmount/project1.neededAmount)|round }}%) </p>
            </div>
            <div class="progress__fillbar">
              <div class="fillbar__fill" style="width: {{ (project1.receivedAmount/project1.neededAmount)|round }}%"></div>
            </div>
          </div>
          <div class="projects__info">
            <p class="projects__description info__author"><span>Автор: </span> {% if getUserById(project1.authorId) is not none %}
              {{ getUserById(project1.authorId).name }} {% endif %}</p>
            <p class="projects__description info__goals"><span>Опис: </span>{{ loads(project1.description)['description'] }}</p>
          </div>
        </div>
        <div class="projects__footer">
          <div class="footer__texts">
            <div class="footer__text_left"><span>Зв'язок з нами</span>
              <div class="footer__socials">
                {% if getUserById(project1.authorId).social_media is not none and loads(getUserById(project1.authorId).social_media)['telegram'] is not none %}
                <div class="project-page--social" >
                    <a href="https://t.me/{{loads(getUserById(project1.authorId).social_media)['telegram']}}"><img src="../static/images/logos_telegram.svg" alt="telegram"></a>
                </div>
                {% endif %}
                {% if getUserById(project1.authorId).social_media is not none and loads(getUserById(project1.authorId).social_media)['instagram'] is not none %}
                <div class="project-page--social">
                    <a href="https://instagram.com/{{loads(getUserById(project1.authorId).social_media)['instagram']}}"><img src="../static/images/skill-icons_instagram.svg" alt="instagram"></a>
                </div>
                {% endif %}
                {% if getUserById(project1.authorId).social_media is not none and loads(getUserById(project1.authorId).social_media)['twitter'] != '' %}
                <div class="project-page--social">
                    <a href="https://twitter.com/{{loads(getUserById(project1.authorId).social_media)['twitter']}}"><img src="../static/images/skill-icons_twitter.svg" alt="twitter"></a>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="footer__text" style="text-align:right">Адреса <br>
              <span>{{ project1.address }}, Україна </span>
            </div>
          </div>
          <div class="footer__buttons">
            <div class="buttons__button2">СПОНСОРУВАТИ</div>
            <div class="buttons__button" ><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              ХОЧУ ДО КОМАНДИ
            </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="projects__smalls">
      <div class="projects_small">
        <div>
          <img class="projects__image_small" src="../{{ path }}/{{ getImageById(project2.id) }}" alt="Картинка 1">
        </div>
        <div class="projects__content">
          <div class="projects__main-info">
            <h2 class="projects__title"><a href="{{ url_for('project.ViewProject', project_id=project2.id) }}">{{ project2.caption }}</a></h2>
            <p class="progress__donated_small">Зібрано: <span>~{{ (project2.receivedAmount/project2.neededAmount)|round }}%</span></p>
            <div class="projects__info">
              <p class="projects__description info__author"><span>Автор:</span>  {% if getUserById(project2.authorId) is not none %}
              {{ getUserById(project2.authorId).name }} {% endif %}</p>
              <p class="projects__description info__goals"><span>Опис:</span>{{ loads(project2.description)['description'] }}</p>
            </div>
          </div>
          <div class="footer__socials">
            {% if getUserById(project2.authorId).social_media is not none and loads(getUserById(project2.authorId).social_media)['telegram'] is not none %}
            <div class="project-page--social" >
                <a href="https://t.me/{{loads(getUserById(project2.authorId).social_media)['telegram']}}"><img src="../static/images/logos_telegram.svg" alt="telegram"></a>
            </div>
            {% endif %}
            {% if getUserById(project2.authorId).social_media is not none and loads(getUserById(project2.authorId).social_media)['instagram'] is not none %}
            <div class="project-page--social">
                <a href="https://instagram.com/{{loads(getUserById(project2.authorId).social_media)['instagram']}}"><img src="../static/images/skill-icons_instagram.svg" alt="instagram"></a>
            </div>
            {% endif %}
            {% if getUserById(project2.authorId).social_media is not none and loads(getUserById(project2.authorId).social_media)['twitter'] != '' %}
            <div class="project-page--social">
                <a href="https://twitter.com/{{loads(getUserById(project2.authorId).social_media)['twitter']}}"><img src="../static/images/skill-icons_twitter.svg" alt="twitter"></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="projects_small mt-md-1">
        <div>
          <img class="projects__image_small" src="../{{ path }}/{{ getImageById(project3.id) }}" alt="Картинка 1">
        </div>
        <div class="projects__content">
          <div class="projects__main-info">
            <h2 class="projects__title"></h2>
            <p class="progress__donated_small">Зібрано: <span>~{{ (project3.receivedAmount/project3.neededAmount)|round }}%</span></p>
            <div class="projects__info">
              <p class="projects__description info__author"><span>Автор:</span>  {% if getUserById(project3.authorId) is not none %}
              {{ getUserById(project3.authorId).name }} {% endif %}</p>
              <p class="projects__description info__goals"><span>Опис:</span> {{ loads(project3.description)['description'] }}</p>
            </div>
          </div>
          <div class="footer__socials">
            {% if getUserById(project3.authorId).social_media is not none and loads(getUserById(project3.authorId).social_media)['telegram'] is not none %}
            <div class="project-page--social" >
                <a href="https://t.me/{{loads(getUserById(project3.authorId).social_media)['telegram']}}"><img src="../static/images/logos_telegram.svg" alt="telegram"></a>
            </div>
            {% endif %}
            {% if getUserById(project3.authorId).social_media is not none and loads(getUserById(project3.authorId).social_media)['instagram'] is not none %}
            <div class="project-page--social">
                <a href="https://instagram.com/{{loads(getUserById(project3.authorId).social_media)['instagram']}}"><img src="../static/images/skill-icons_instagram.svg" alt="instagram"></a>
            </div>
            {% endif %}
            {% if getUserById(project3.authorId).social_media is not none and loads(getUserById(project3.authorId).social_media)['twitter'] != '' %}
            <div class="project-page--social">
                <a href="https://twitter.com/{{loads(getUserById(project3.authorId).social_media)['twitter']}}"><img src="../static/images/skill-icons_twitter.svg" alt="twitter"></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  



<!-- КОНЕЦ ПЕРВОГО БЛОКА С ТРЕМЯ ПРОЕКТАМИ ------------------------------------------- -->




<!-- НАЧАЛО БЛОКА "НЕДАВНИЕ ПРОЕКТЫ" ------------------------------------------- -->


  <div class="recent">
    <h2 class="recent__title text-center">НЕЩОДАВНІ ПРОЕКТИ</h2>
    <div class="see_all"><a href="#">УСІ ПРОЕКТИ</a> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
      viewBox="0 0 24 24">
      <g transform="rotate(-90 12 12)">
        <path fill="#a73169" d="m12 15l-5-5h10Z" />
      </g>
    </svg></div>
    <div class="recent__projects">
      



<!-- НОВЫЙ ПРОЕКТ ------------------------------------------- -->
{% for project in latestProjects %}
      <div class="recent__recent-project">
        <div class="recent-project__header" style="background-image: url(../{{ path }}/{{ getImageById(project.id) }})">
          <h3 class="recent-project__text"><a href="{{ url_for('project.ViewProject', project_id=project.id) }}">{{ project.caption }}</a></h3>
        </div>
        <div class="recent-project__content">
          <div class="recent-project__donates">
            <div class="recent-project__need">Потрібно коштів: {{ project.neededAmount }}₴ </div>
            <div class="recent-project__donated">Зібрано: {{ project.receivedAmount }}₴ (~{{ (project.receivedAmount/project.neededAmount)|round }}%) </div>
          </div>
          <hr>
          <div class="project__content__descriprion">
            <p class="projects__description"><span>Автор:</span> Андрій Меленюк</p>

            <p class="projects__description projects__goals"><span>Опис: </span> {{ loads(project.description)['description'] }} </p>
          </div>
        </div>
        <hr>
        <div class="recent__project__footer">
          <div class="projects__footer--socials">
            <div class="projects__footer--social" >
              <img src="../static/images/logos_telegram.svg" alt="telegram">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/logos_tiktok-icon.svg" alt="tiktok">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/skill-icons_instagram.svg" alt="instagram">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/skill-icons_twitter.svg" alt="twitter">
            </div>
          </div>
          <div class="recent-footer__text">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
              </svg> {{ project.address }}, Україна  </span>
          </div>
        </div>
      </div>
{% endfor %}

<!-- КОНЕЦ БЛОКА "НЕДАВНИЕ ПРОЕКТЫ" ------------------------------------------- -->



<!-- НАЧАЛО БЛОКА "ПОПУЛЯРНЫЕ ПРОЕКТЫ" ------------------------------------------- -->


  <div class="recent">
    <h2 class="recent__title text-center">ПОПУЛЯРНІ ПРОЕКТИ</h2>
    <div class="see_all"><a href="#">УСІ ПРОЕКТИ</a> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
      viewBox="0 0 24 24">
      <g transform="rotate(-90 12 12)">
        <path fill="#a73169" d="m12 15l-5-5h10Z" />
      </g>
    </svg></div>
    <div class="popular__projects">

{% for project in topProjects %}
      <div class="recent__project">
        <div class="recent__project__header" style="background-image: url(../{{ path }}/{{ getImageById(project.id) }})">
          <h3 class="project__header__text"><a href="{{ url_for('project.ViewProject', project_id=project.id) }}">{{ project.caption }}</a></h3>
        </div>
        <div class="recent__project__content">
          <div class="project__content__donates">
            <div class="projects__progress__need">Потрібно коштів: {{ project.neededAmount }}₴ </div>
            <div class="projects__progress__donated">Зібрано: {{ project.receivedAmount }}₴ (~{{ (project.receivedAmount/project.neededAmount)|round }}%) </div>
          </div>
          <hr>
          <div class="project__content__descriprion">
            <p class="projects__description"><span>Автор:</span> {% if getUserById(project.authorId) is not none %}
              {{ getUserById(project.authorId).name }} {% endif %}</p>

            <p class="projects__description projects__goals"><span>Опис: </span> {{ loads(project.description)['description'] }} </p>
          </div>
        </div>
        <hr>
        <div class="recent__project__footer">
          <div class="projects__footer--socials">
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['telegram'] is not none %}
            <div class="project-page--social" >
                <a href="https://t.me/{{loads(getUserById(project.authorId).social_media)['telegram']}}"><img src="../static/images/logos_telegram.svg" alt="telegram"></a>
            </div>
            {% endif %}
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['instagram'] is not none %}
            <div class="project-page--social">
                <a href="https://instagram.com/{{loads(getUserById(project.authorId).social_media)['instagram']}}"><img src="../static/images/skill-icons_instagram.svg" alt="instagram"></a>
            </div>
            {% endif %}
            {% if getUserById(project.authorId).social_media is not none and loads(getUserById(project.authorId).social_media)['twitter'] != '' %}
            <div class="project-page--social">
                <a href="https://twitter.com/{{loads(getUserById(project.authorId).social_media)['twitter']}}"><img src="../static/images/skill-icons_twitter.svg" alt="twitter"></a>
            </div>
            {% endif %}
          </div>
          <div class="recent__footer--text">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
              </svg> {{ project.address }}, Україна  </span>
          </div>
        </div>
      </div>
{% endfor %}

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Форма вступу до команди</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          <form action="{{ url_for('project.ApplyTeamMember', project_id=project1.id) }}" method="POST">
            <div class="modal-body">
              <div class="input-group">
                <label for="basic-url" class="form-label">Введіть ваш номер телефону
                </label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">+380</span>
                  <input type="number" class="form-control" name="telephone_number" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <span class="input-group-text">Ваша спеціальність</span>
                <input type="text" class="form-control" name="role" id="basic-url" aria-describedby="basic-addon3">
                <span class="input-group-text">Опишіть чому повинні взяти саме вас</span>
                <textarea class="form-control" name="message" aria-label="With textarea"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ЗАКРИТИ</button>
              <button type="submit" class="btn" style="background-color: #A73169 !important; color: #FFFFFF !important; ">ПОДАТИ ЗАЯВКУ</button>
            </div>
          </form>
          </div>
        </div>
    </div>
   </div>
  </div>
</div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <script src="static/js/main.js"></script>
{% endblock %}