{% extends 'base.html' %}

{% block head %}
  <script>
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    window.location = "../html/mobile.html"; // замените "http://example.com/mobile-page" на URL вашей мобильной страницы
  }
  </script>
{% endblock %}

{% block content %}
  <!-- НАЧАЛО БЛОКА С УКРАИНОЙ ------------------------------------------- -->

  <div class="block">
    <div class="block__title-container">
      <h1 class="block__title">УСІ</h1>
    </div>
    <div class="block__subtitle-container">
      <p class="block__subtitle">МИ ПОЧИНАЄМО З ЧОГОСЬ<br>ПОТРЕБУЄМО ДОПОМОГИ<br>ДОПОМОГАЄМО</p>
    </div>
  </div>


  <!-- КОНЕЦ БЛОКА С УКРАИНОЙ ------------------------------------------- -->





  <!-- НАЧАЛО ПЕРВОГО БЛОКА С ТРЕМЯ ПРОЕКТАМИ ------------------------------------------- -->


  <section class="section">

    <div class="projects_large">
      <img class="projects__image" src="../{{ path }}/{{ getImageById(project1.id) }}" alt="Картинка 1">
      <div class="projects__content">
        <div class="projects__main-info">
          <h2 class="projects__title"><a href="{{ url_for('project.ViewProject', project_id=project1.id) }}">{{ project1.caption }}</a></h2>
          <div class="projects__progress">
            <div class="progress__texts">
              <p class="progress__need">Потрібно коштів: {{ project1.neededAmount }}₴ </p>
              <p class="progress__donated">Зібрано: {{ project1.receivedAmount }}₴ (~{{ (project1.receivedAmount/project1.neededAmount)|round }}%) </p>
            </div>
            <div class="progress__fillbar" style="width: {{ (project1.receivedAmount/project1.neededAmount)|round }}%"></div>
          </div>
          <div class="projects__info">
            <p class="projects__description info__author"><span>Автор: </span> {% if getUserById(project1.authorId) is not none %}
              {{ getUserById(project1.authorId).name }} {% endif %}</p>
            <p class="projects__description info__goals"><span>Опис: </span>{{ loads(project1.description)['description'] }}</p>
          </div>
        </div>
        <div class="projects__footer">
          <div class="footer__texts">
            <div class="footer__text"><span>Зв'язок з нами</span>
              <div class="footer__socials">
                <div class="footer__icon">
                  <img src="../static/images/logos_telegram.svg" alt="telegram">
                </div>
                <div class="footer__icon">
                  <img src="../static/images/logos_tiktok-icon.svg" alt="telegram">
                </div>
                <div class="footer__icon">
                  <img src="../static/images/skill-icons_instagram.svg" alt="telegram">
                </div>
                <div class="footer__icon">
                  <img src="../static/images/skill-icons_twitter.svg" alt="telegram">
                </div>
              </div>
            </div>
            <div class="footer__text" style="text-align:right">Адреса <br>
              <span>Одеса, вул. Пушкіна 19 </span>
            </div>
          </div>
          <div class="footer__buttons">
            <div class="buttons__button2">СПОНСОРУВАТИ</div>
            <div class="buttons__button " style="margin-left: 20px;"><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              ХОЧУ ДО КОМАНДИ
            </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="projects__smalls">
      <div class="projects_small">
        <div>
          <img class="projects__image_small" src="../{{ path }}/{{ getImageById(project2.id) }}" alt="Картинка 1">
        </div>
        <div class="projects__content">
          <div class="projects__main-info">
            <h2 class="projects__title"><a href="{{ url_for('project.ViewProject', project_id=project2.id) }}">{{ project2.caption }}</a></h2>
            <p class="progress__donated_small">Зібрано: <span>~{{ (project2.receivedAmount/project2.neededAmount)|round }}%</span></p>
            <div class="projects__info">
              <p class="projects__description info__author"><span>Автор:</span>  {% if getUserById(project2.authorId) is not none %}
              {{ getUserById(project2.authorId).name }} {% endif %}</p>
              <p class="projects__description info__goals"><span>Опис:</span>{{ loads(project2.description)['description'] }}</p>
            </div>
          </div>
          <div class="footer__socials">
            <div class="footer__icon">
              <img src="../static/images/logos_telegram.svg" alt="telegram">
            </div>
            <div class="footer__icon">
              <img src="../static/images/logos_tiktok-icon.svg" alt="tiktok">
            </div>
            <div class="footer__icon">
              <img src="../static/images/skill-icons_instagram.svg" alt="instagram">
            </div>
            <div class="footer__icon">
              <img src="../static/images/skill-icons_twitter.svg" alt="twitter">
            </div>
          </div>
        </div>
      </div>
      <div class="projects_small mt-md-1">
        <div>
          <img class="projects__image_small" src="../{{ path }}/{{ getImageById(project3.id) }}" alt="Картинка 1">
        </div>
        <div class="projects__content">
          <div class="projects__main-info">
            <h2 class="projects__title"><a href="{{ url_for('project.ViewProject', project_id=project3.id) }}">{{ project3.caption }}</a></h2>
            <p class="progress__donated_small">Зібрано: <span>~{{ (project3.receivedAmount/project3.neededAmount)|round }}%</span></p>
            <div class="projects__info">
              <p class="projects__description info__author"><span>Автор:</span>  {% if getUserById(project3.authorId) is not none %}
              {{ getUserById(project3.authorId).name }} {% endif %}</p>
              <p class="projects__description info__goals"><span>Опис:</span> {{ loads(project3.description)['description'] }}</p>
            </div>
          </div>
          <div class="footer__socials">
            <div class="footer__icon">
              <img src="../static/images/logos_telegram.svg" alt="telegram">
            </div>
            <div class="footer__icon">
              <img src="../static/images/logos_tiktok-icon.svg" alt="tiktok">
            </div>
            <div class="footer__icon">
              <img src="../static/images/skill-icons_instagram.svg" alt="instagram">
            </div>
            <div class="footer__icon">
              <img src="../static/images/skill-icons_twitter.svg" alt="twitter">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  



<!-- КОНЕЦ ПЕРВОГО БЛОКА С ТРЕМЯ ПРОЕКТАМИ ------------------------------------------- -->




<!-- НАЧАЛО БЛОКА "НЕДАВНИЕ ПРОЕКТЫ" ------------------------------------------- -->


  <div class="recent">
    <h2 class="recent__title text-center">НЕЩОДАВНІ ПРОЕКТИ</h2>
    <div class="see_all"><a href="#">УСІ ПРОЕКТИ</a> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
      viewBox="0 0 24 24">
      <g transform="rotate(-90 12 12)">
        <path fill="#a73169" d="m12 15l-5-5h10Z" />
      </g>
    </svg></div>
    <div class="recent__projects">
      



<!-- НОВЫЙ ПРОЕКТ ------------------------------------------- -->
{% for project in latestProjects %}
      <div class="recent__project">
        <div class="recent__project__header" style="background-image: url(../{{ path }}/{{ getImageById(project.id) }})">
          <h3 class="project__header__text"><a href="{{ url_for('project.ViewProject', project_id=project.id) }}">{{ project.caption }}</a></h3>
        </div>
        <div class="recent__project__content">
          <div class="project__content__donates">
            <div class="projects__progress__need">Потрібно коштів: {{ project.neededAmount }}₴ </div>
            <div class="projects__progress__donated">Зібрано: {{ project.receivedAmount }}₴ (~{{ (project.receivedAmount/project.neededAmount)|round }}%) </div>
          </div>
          <hr>
          <div class="project__content__descriprion">
            <p class="projects__description"><span>Автор:</span> {% if getUserById(project.authorId) is not none %}
              {{ getUserById(project.authorId).name }} {% endif %}</p>

            <p class="projects__description projects__goals"><span>Опис: </span> {{ loads(project.description)['description'] }} </p>
          </div>
        </div>
        <hr>
        <div class="recent__project__footer">
          <div class="projects__footer--socials">
            <div class="projects__footer--social" >
              <img src="../static/images/logos_telegram.svg" alt="telegram">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/logos_tiktok-icon.svg" alt="tiktok">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/skill-icons_instagram.svg" alt="instagram">
            </div>
            <div class="projects__footer--social">
              <img src="../static/images/skill-icons_twitter.svg" alt="twitter">
            </div>
          </div>
          <div class="recent__footer--text">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
              </svg> Одеса, вул. Пушкіна 19 </span>
          </div>
        </div>
      </div>
{% endfor %}

<!-- КОНЕЦ БЛОКА "НЕДАВНИЕ ПРОЕКТЫ" ------------------------------------------- -->



<!-- НАЧАЛО БЛОКА "ПОПУЛЯРНЫЕ ПРОЕКТЫ" -------------------------------------------


  <div class="recent">
    <h2 class="recent__title text-center">ПОПУЛЯРНІ ПРОЕКТИ</h2>
    <div class="see_all"><a href="#">УСІ ПРОЕКТИ</a> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
      viewBox="0 0 24 24">
      <g transform="rotate(-90 12 12)">
        <path fill="#a73169" d="m12 15l-5-5h10Z" />
      </g>
    </svg></div>
    <div class="popular__projects">


      <div class="recent__project">
        <div class="recent__project__header">
          <h3 class="project__header__text">The Animals Glory </h3>
        </div>
        <div class="recent__project__content">
          <div class="project__content__donates">
            <div class="projects__progress__need">Потрібно коштів: 300 000₴ </div>
            <div class="projects__progress__donated">Зібрано: 237 213₴ (~79%) </div>
          </div>
          <hr>
          <div class="project__content__descriprion">
            <p class="projects__description"><span>Автор:</span> Андрій Меленюк</p>

            <p class="projects__description projects__goals"><span>Опис: </span> Допомога постраждалим тваринам. <br>
              Тварини, яких просто залишили на вулиці, наразі просто бігають по вулицям, <br>
              давайте зупинимо це, створив приют на вул. Пушкіна 19 </p>
          </div>
        </div>
        <hr>
        <div class="recent__project__footer">
          <div class="projects__footer--socials">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
            </svg>
          </div>
          <div class="recent__footer--text">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
              </svg> Одеса, вул. Пушкіна 19 </span>
          </div>
        </div>
        -->
      </div>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Форма вступу до команди</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          <form action="{{ url_for('project.ApplyTeamMember', project_id=project1.id) }}" method="POST">
            <div class="modal-body">
              <div class="input-group">
                <label for="basic-url" class="form-label">Введіть ваш номер телефону
                </label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">+380</span>
                  <input type="text" class="form-control" name="telephone_number" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <span class="input-group-text">Ваша спеціальність</span>
                <span class="input-group-text">Опишіть чому повинні взяти саме вас</span>
                <textarea class="form-control" name="message" aria-label="With textarea"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ЗАКРИТИ</button>
              <button type="submit" class="btn" style="background-color: #A73169 !important; color: #FFFFFF !important; ">ПОДАТИ ЗАЯВКУ</button>
            </div>
          </form>
          </div>
        </div>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <script src="static/js/main.js"></script>
{% endblock %}