{% extends 'base.html' %}

{% block content %}
<div class="profile">
    <div class="profile__user--info resizable" id="resizeMe">
        <img src="../{{ image_path }}" alt="" class="user__image">
        <div class="user__name">{{ fullName }}</div>
        <div class="user__email">{{ email }}</div>
        <div class="user__about">
            <div class="about__title">Про себе</div>
            <div id="about__content">{{ aboutMe }}</div>
            <span id="read__more"></span>
        </div>
        <div class="about__info__footer">
            <div class="about__info__footer--socials">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
            </div>
            <div class="about__info__footer--text">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z" />
                    </svg> Одеса, вул. Пушкіна 19 </span>
                <br>
                <span class="settings"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97c0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1c0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z"/></svg> <a href="{{ url_for('main.MainPage') }}">Налаштування</a> </span>
                
                
            </div>

        </div>
        <div class="resizer resizer-r"></div>
    </div>


    <nav class="user__content" id="navbar">
        <ul>
            <li><a href="#" data-target="block1">Резюме</a></li>
            <li><a href="#" data-target="block2">Проекти</a></li>
            <li><a href="#" data-target="block3">Спонсування</a></li>
            <li><a href="#" data-target="block4">Участь</a></li>
        </ul>

    </nav>
    <div class="nav__content">
        <div id="block1">
            <h2 style="text-align: center; font-weight: bold;">Резюме</h2>
            <p>{{ resume }}</p>
        </div>

        <div id="block2">
            <h2 style="text-align:center; font-weight: bold;">Проекти</h2>
            {% for project in userProjects %}
            <div class="profile__project">
                <div class="projects projects--large">
                    <div class="projects__img-wrapper">
                        <img class="projects__img" src="../{{ path }}/{{ getImageById(project.id) }}" alt="Картинка 1">
                    </div>
                    <div class="projects__content">

                        <h2 class="projects__title">{{ project.caption }}</h2>
                        <div class="projects__progress">
                            <div class="projects__progress__need">Потрібна сума: {{ project.neededAmount }}</div>
                            <div class="projects__progress__donated">Зібрано: {{ project.receivedAmount }}₴ (~{{ (project.receivedAmount/project.neededAmount)|round }}%) </div>
                            <div class="progress__fillbar" style="width: {{ (project.receivedAmount/project.neededAmount)|round }}%"></div>
                        </div>

                        <p class="projects__description projects__goals"><span>Опис:</span>{{ loads(project.description)['description'] }}</p>
                        <!--<p class="projects__description projects__problem"><span>Проблема:</span> Велика к-ть тварин
                            знаходяться на
                            вулиці, кинуті
                            минулими хозяїнами, тварини без помівки, або в притулку. Їх к-ть постійно зростає і ми
                            божаємо щоб таких
                            тварив в країні було якнайменше </p>-->

                        <div class="projects__footer">
                            <div class="projects__footer--text">Зв'язок з нами
                                <div class="projects__footer--socials">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="projects__footer--text" style="text-align:right">Адреса <br>
                                <span>{{ project.address }}, Україна</span>
                            </div>
                        </div>
                        <div class="projects__footer--buttons">
                            <div class="projects__footer--button2">СПОНСОРУВАТИ</div>
                            <div class="projects__footer--button " style="margin-left: 20px;">ХОЧУ ДО КОМАНДИ</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        <div id="block3">
            <h2 class="sponsored__title" style="text-align:center">Спонсовані проекти:</h2>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴ </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴ (~79%) </div>
                    <div class="progress">
                        <div class="progress-bar profile__progress " role="progressbar"
                            style="width: 79%; background-color:#A73169" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div class="progress-bar bg-success profile__progress" role="progressbar"
                            style="width: 12%; background-color:#6AAF9D !important" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"><span></span></span></div>
                    </div>



                    <div class="projects__progress__need small_project__content"><span>К-ть спонсованості проекта:
                        </span>12 000₴(~12%)</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴ </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴ (~79%) </div>
                    <div class="progress">
                        <div class="progress-bar profile__progress " role="progressbar"
                            style="width: 79%; background-color:#A73169" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div class="progress-bar bg-success profile__progress" role="progressbar"
                            style="width: 12%; background-color:#6AAF9D !important" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"><span></span></span></div>
                    </div>

                    <div class="projects__progress__need small_project__content"><span>К-ть спонсованості проекта:
                        </span>12 000₴(~12%)</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴ </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴ (~79%) </div>
                    <div class="progress">
                        <div class="progress-bar profile__progress " role="progressbar"
                            style="width: 79%; background-color:#A73169" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div class="progress-bar bg-success profile__progress" role="progressbar"
                            style="width: 12%; background-color:#6AAF9D !important" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"><span></span></span></div>
                    </div>

                    <div class="projects__progress__need small_project__content"><span>К-ть спонсованості проекта:
                        </span>12 000₴(~12%)</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300 000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237 213₴
                        (~79%) </div>
                    <div class="progress">
                        <div class="progress-bar profile__progress " role="progressbar"
                            style="width: 79%; background-color:#A73169" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div class="progress-bar bg-success profile__progress" role="progressbar"
                            style="width: 12%; background-color:#6AAF9D !important" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"><span></span></span></div>
                    </div>

                    <div class="projects__progress__need small_project__content"><span>К-ть спонсованості проекта:
                        </span>12 000₴(~12%)
                    </div>

                </div>
            </div>
        </div>
        <div id="block4">
            <h2 class="sponsored__title" style="text-align:center">Участь у проектах:</h2>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴ </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴ (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>


            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>
            <div class="short__project">
                <div class="recent__project__header short__project--header">
                    <h3 class="project__header__text">The Animals Glory </h3>
                </div>
                <div class="short__project--content">
                    <div class="projects__progress__need small_project__content"><span>Потрібно коштів:</span> 300
                        000₴
                    </div>
                    <div class="progress-mark"></div>
                    <div class="projects__progress__need small_project__content"><span>Зібрано коштів:</span> 237
                        213₴
                        (~79%) </div>
                    <div class="projects__progress__fillbar"></div>

                    <div class="projects__progress__need small_project__content"><span>Роль у проекті:
                        </span>Программіст</div>

                </div>
            </div>

        </div>


    </div>
</div>
</div>
</div>




</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
<script src="/static/js/resize.js"></script>
<script>
    document.getElementById("read__more").addEventListener('click', function () {
        document.getElementById("about__content").classList.toggle('active');
    });
</script>
{% endblock %}