{% extends 'base.html' %}

{% block head %}
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            window.location =
                "../templates/mobile.html"; // замените "http://example.com/mobile-page" на URL вашей мобильной страницы
        }
    </script>
{% endblock %}

{% block content %}
    <div class="project-page">
        <div class="project-page__name">{{ project.caption }}</div>
        <div class="project-page__content">
            <div class="project-page__image"><img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt=""></div>
            <div class="projects__progress">
                <div class="project-page__need projects__progress__need">Потрібна сума: {{ project.neededAmount }}</div>
                <div class="project-page__donated projects__progress__donated">Отримана сума: {{ project.receivedAmount }}</div>
                <div class="project-page__fillbar projects__progress__fillbar"></div>
                <div class="project-page__sponsors">К-ть спонсорів: {{ len(getSponsors(project.id)) }}</div>
                <div class="project-page__team">Команда: {{ len(getTeam(project.id)) }}</div>
                <div class="project-page__media-space">Медіа Простір</div>
                <div class="project-page__media-space--image"><img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                </div>
                <div class="project-page__media-space--image"><img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                </div>
                <div class="project-page__media-space--image"><img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                </div>
                <div class="project-page__buttons projects__footer--buttons">
                    <div class="project-page__button projects__footer--button2">СПОНСОРУВАТИ</div>
                    <div class="project-page__button projects__footer--button " style="margin-left: 20px;">ХОЧУ ДО
                        КОМАНДИ</div>
                </div>
            </div>
        </div>
        <div class="project-page__footer">
            <div class="project-page__city">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12 12q.825 0 1.413-.588Q14 10.825 14 10t-.587-1.413Q12.825 8 12 8q-.825 0-1.412.587Q10 9.175 10 10q0 .825.588 1.412Q11.175 12 12 12Zm0 7.35q3.05-2.8 4.525-5.088Q18 11.975 18 10.2q0-2.725-1.738-4.463Q14.525 4 12 4Q9.475 4 7.737 5.737Q6 7.475 6 10.2q0 1.775 1.475 4.062Q8.95 16.55 12 19.35ZM12 22q-4.025-3.425-6.012-6.363Q4 12.7 4 10.2q0-3.75 2.413-5.975Q8.825 2 12 2t5.587 2.225Q20 6.45 20 10.2q0 2.5-1.987 5.437Q16.025 18.575 12 22Zm0-11.8Z" />
                </svg>
                Одеса, Україна
            </div>
            <div class="project-page__socials">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                </svg>

            </div>
            <hr>
        </div>
        <div class="project-page__main">
            <div class="project-page__nav">
                <a href="#project-about" class="project-page__punct">ПРО ПРОЕКТ</a>
                <hr class="line">
                <a href="#project-risics" class="project-page__punct">РИЗИКИ</a>
                <hr class="line">
                <a href="#project-team" class="project-page__punct">КОМАНДА</a>
                <hr class="line">
                <a href="#project-sponsors" class="project-page__punct">ДЛЯ СПОНСОРІВ</a>
            </div>
            <div class="project-page__bottom-content">
                <h2 class="project-page__main-title" id="project-about">Про проект</h2>
                <p>{{ loads(project.description)['description'] }}</p>
                <h2 class="project-page__main-title" id="project-risics">Ризики</h2>
                <p>{{ loads(project.description)['description'] }}</p>
                <h2 class="project-page__main-title" id="project-team">Хто потрібен у команду</h2>
                <p>{{ loads(project.description)['neededTeamMembers'] }}</p>
                <h2 class="project-page__main-title" id="project-sponsors">Корисна інформація для спонсорів</h2>
                <p>{{ loads(project.description)['description'] }}</p>
            </div>
            <div class="project-page__main-team">
                <div class="project-page__main-people">
                    <h3>Ідея</h3>
                    <img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                    
                    <h6>Андрій Меленюк</h6>
                </div>
                <div class="project-page__main-people">
                    <h3>Команда</h3>
                    <img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                    <img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
                    <img src="../{{ path }}/{{ getImageById(project.imageId) }}" alt="">
    
                </div>
            </div>
        </div>
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

    <script src="../static/js/main.js"></script>
{% endblock %}