$main:#A73169;

.projects {
    display: flex;
    flex-direction: row;

    &__smalls {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    &_small {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: max-content;
        margin-bottom: 24px;
    }

    &_large {
        display: flex;
        flex-direction: row;
        max-width: max-content;
        margin-right: 24px;
    }

    &__image {
        height: 625px;
        object-fit: cover;
        width: 500px;
        &_small {
            width: 210px;
            object-fit: cover;
            height: 300px;
        }
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 24px;

        &_large {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-left: 24px;
            width: 36vw;
        }
    }

    &__title {
        font-weight: bold;
        text-align: center;
        font-size: 24px;
        text-transform: capitalize;
    }
    

    &__info {
    }

    &__progress {
        width: 100%;
        margin-left: 0;
    }

    &__description {
        font-size: 16px;
        line-height: 1.9;
        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 2; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden;
        span {
            font-weight: bold;
        }
    }

    &__author {
        padding-top: 35px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.progress {
    &__texts {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }

    &__need {
        font-weight: normal !important;
    }

    &__donated {
        font-weight: normal !important;
        &_small {
            margin: 20px 0;

            span {
                color: $main;
                font-weight: bold;
            }
        }
    }

    &__fillbar {
        position: relative;
        display: block;
        width: 100%;
        height: 8px;
        margin-top: 10px;
        border-radius: 4px;
        background:#D9D9D9;
        margin-bottom: 32px;
    }
}

.fillbar {

		&__fill {
            position: relative;
            height: 100%;
            border-radius: 4px 4px / 4px 4px;
            background: $main;
		}
}


.footer {

    &__texts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__icon {
        margin: 6px 12px;

        img {
            width: 24px;
            height: 24px;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: right;

        &_left {
            text-align: left;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}
.buttons {

    &__button2 {
        width: 350px;
        transition: all 0.5s ease;
        height: 55px;
        border-radius: 10px;
        border: none;
        color: #fff;
        background-color: $main;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        &:hover {
            font-size: 16px;
            border-radius: 10px;
            border: 3px solid #000;
            color: #000;
            background-color: #fff;
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    &__button {
        font-size: 16px;
        transition: all 0.5s ease;
        width: 225px;
        height: 55px;
        border-radius: 10px;
        border: 3px solid #000;
        color: #000;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
            border-radius: 10px;
            border: none;
            color: #fff;
            background-color: $main;
        }
    }
}

.modal{
    --bs-modal-width: 1500px !important;
}

@media (max-width: 1680px) {
    .projects {
        &__smalls {
            display: flex;
            flex-direction: row;
            margin-top: 24px;
            width: 90vw;
            justify-content: space-between;
        }
        &_large {
            margin-right: 0;
        }
        &_small {
            margin-right: 24px;
        }
    }
    .projects {
        &__content_large {
            width: 90vw;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        padding: 14px 72px 14px 72px;
    }
    .footer__buttons {
        flex-direction: column;
    }
    .buttons {
        &__button2 {
            width: 100%;
            margin-bottom: 24px;
        }
        &__button {
            width: 100%;
        }
    }
    .button-project {
        width: 100%;
    }
    .projects__title {
        text-align: left
    }
}

@media (max-width: 950px) {
    .projects__smalls {
        flex-direction: column;
    }
    .footer__texts {
        display: none;
    }
    .projects__image {
        width: 50vw;
        height: 400px;
    }
    .projects__description {
        height: 30px;
    }
    .progress__texts {
        flex-direction: column;
        margin-top: 12px;
    }

    .progress__need {
        margin-bottom: 6px;
    }

    .progress__fillbar {
        margin-bottom: 16px;
    }

    .header__profile {
        span {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .projects {
        &_large {
            width: 90vw;
            flex-direction: column;
        }
        &__content {
            &_large {
                padding-left: 0;
            }
        }

        &__image {
            width: 90vw;
            margin-bottom: 20px;
        }
        &__title {
            text-align: center;
        }
    }

    .progress {
        &__texts {
            flex-direction: row;
        }
    }
}

@media (max-width: 500px) {
    .projects__image_small {
        width: 90vw;
        margin-bottom: 24px;
    }
    .footer__socials {
        display: none;
    }
    .projects_small {
        flex-direction: column;
    }
    .projects__title {
        text-align: center;
    }
    .projects__content {
        padding: 0;
    }
    .projects__main-info {
        margin-bottom: 24px;
    }
}